<% action_url = band.persisted? ? band_url(band) : bands_url  %>
<% method = band.persisted? ? :patch : :post %>

<form action="<%= action_url %>" method="POST">
  <%= auth_token %>
  <input type="hidden" name="_method" value="<%= method %>">
  <input type="text" name="band[name]" value="<%= band.name %>">
  <input type="submit">
</form>
